'editor':
  'showInvisibles': true
  'preferredLineLength': 120
'core':
  'themes': [
    'solarized-dark-ui'
    'solarized-light-syntax'
  ]
  'disabledPackages': [
    'whitespace'
    'tabs'
    'tree-view'
  ]
  'ignoredNames': [
    '.git'
    'log'
    'tmp'
  ]
'exception-reporting':
  'userId': '1f4b5d03-ca07-ef9b-f7ad-44852c041854'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '87a333c49587580659892f1cf2b6da8df74123f1'
'whitespace':
  'ignoreWhitespaceOnlyLines': true
'autosave':
  'enabled': true
'tabs':
  'showIcons': true
'tree-view':
  'hideVcsIgnoredFiles': false
  'hideIgnoredNames': false
  'showOnRightSide': false
